:root {
  --primary-text-color: rgba(67, 68, 85, 1);
  --title-text-color: #2e2f42;
  --accent-color: #4d5ae5;
  --primary-bg-color: #e5e5e5;
  --secondary-bg-color: #ffffff;
  --text-color: #f4f4fd;
  --font-family: Roboto, sans-serif;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--title-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.02em;
}

.site-nav,
.contacts-nav,
.feature-list,
.work-list,
.people-list {
  list-style: none;
}
/* Navigation */
.logo {
  font-family: "Raleway", sans-serif;
  font-style: ExtraBold;
  font-size: 18px;
  line-height: 1.2;
}
.header-studio-logo {
  color: var(--primary-text-color);
}
.logo:hover,
.logo:focus {
  color: var(--accent-color);
}
.logo-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--primary-bg-color);
}
.site-nav .link {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--title-text-color);
}

.site-nav.link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link-current {
  color: var(--accent-color);
}
.portfolio-nav {
  list-style: none;
}
.portfolio-nav .button {
  font-family: "Roboto";
  font-style: 400;
  font-weight: 500;
  font-size: 16px;
  background-color: var(--primary-bg-color);
  color: var(--accent-color);
}
.portfolio-nav .button-current {
  background-color: var(--accent-color);
  color: var(--secondary-bg-color);
}
.services-list {
  list-style: none;
}

.contacts-nav .link {
  font-family: "Roboto";
  font-style: 400;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--title-text-color);
}
.contacts-nav .link:hover,
.contacts-nav .link:focus {
  color: var(--primary-text-color);
}
.hero {
  background-color: var(--primary-text-color);
}
.hero-title {
  color: #ffffff;
  font-style: 400;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
}
.button-primary {
  background-color: var(--accent-color);
  color: var(--secondary-bg-color);
}

.button-primary,
.button-secondary {
  font-style: 400;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}
/* Feature section */
.feature-list .title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
}
.feature-list .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
}
.section .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  color: #2e2f42;
}
.section .subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
}
.section .text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #434455;
}
.footer {
  background-color: var(--title-text-color);
}
.footer-studio-logo {
  color: var(--primary-bg-color);
}
